{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Add pet page</title>
{% endblock%}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_pet.css' %}">
{% endblock %}

{% block body %}
    <div class="w-50 m-auto">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center my-2">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    
{% endblock %}