{% extends './common/base.html' %}
{% load static %}

{% block title %}
    <title>Home page</title>
{% endblock%}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}
    <div class="misstion-introduce padding-120">
        <h1 class="text-center">Our misstion</h1>
        <div class="d-flex align-items-center gap-3 ">
            <div class="">
                <img class="rounded-circle introduce-image" src="https://media.istockphoto.com/photos/young-woman-in-animal-shelter-picture-id1284987975?b=1&k=20&m=1284987975&s=170667a&w=0&h=OW1Fpl9zFAyHOo3enG83YnHXxUkE3Oq666S1KCj_Fb8=" alt="" srcset="">
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, aut perspiciatis cum consequuntur soluta optio, magni tempore tenetur placeat corrupti repellendus illum qui vero. Tempore deserunt alias neque aperiam consequatur!
            </div>
        </div>
    </div>

    <div class="common-house-introduce padding-120 ">
        <h1 class="text-center">Common house for adopted pet</h1>
        <div class="d-flex align-items-center gap-3 ">
            <div class="">
                <img class="rounded-circle introduce-image" src="https://www.humanesociety.org/sites/default/files/styles/1240x698/public/2022-05/adoption-dog-523193.jpg?h=e22bf01e&itok=Lg4NXHAO" alt="" srcset="">
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, aut perspiciatis cum consequuntur soluta optio, magni tempore tenetur placeat corrupti repellendus illum qui vero. Tempore deserunt alias neque aperiam consequatur!
            </div>
        </div>
    </div>

    <div class="represent-pet">

    </div>
{% endblock %}