{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Danh sách thú cưng</title>
{% endblock%}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pet_list.css' %}">
{% endblock %}

{% block body %}
    <div class="d-flex gap-3 pet-list">
        {% for pet in object_list %}
            <div class="card" style="width: 18rem;">
                <img src="{{ pet.avatar.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="text-center">
                        {{ pet.name }}
                    </p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}