{% extends 'base.html' %}
{% block title %}
    <title> Sign Up </title>
{% endblock%}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p>
                Bạn đã có tài khoản? Đăng nhập tại <a href="/login">đây</a>!
            </p>
            <button class="btn btn-success">
                Đăng kí
            </button>
        </form>
    </div>
{% endblock %}